.WeekHeader {
	display: grid;
	grid-template-columns: 1fr 800px 1fr;
}

.TodayButton {
	display: flex;
	align-items: center;
}

.TextAndArrows {
	display: flex;
	align-items: center;
	justify-content: center;
}

.MonthYearDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	justify-self: center;
	width: 400px;
}

.HeaderText {
	color: rgb(52, 52, 52);
	font-size: 3em;
}

.YearSelect {
	margin-left: 0.5em;
	margin-top: -5px;
	font-size: 1.5em;
	color: rgb(52, 52, 52);
}

.Arrows {
	margin: 0px 2em;
	font-size: 2em;
	color: rgb(104, 120, 156);
}

.ViewButtons {
	display: flex;
	align-items: center;
	justify-content: right;
}
