.Grid {
	width: 100%;
	height: calc(0.8 * 100vh);
	&__Dates {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: calc(0.75 * 100vh);
	}
}

.HeaderRow {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin: 0;
	&__Label {
		text-align: center;
		outline: 1.5px solid rgb(104, 120, 156);
		margin: 0;
		padding: 0.5em 0em;
		background-color: rgb(104, 120, 156);
		color: white;
	}
}
