.Card {
	background-color: white;
	color: black;
	outline: 1.5px solid rgb(104, 120, 156);
	// position: absolute;
	// display: flex;
	min-height: 50px;
	height: calc(100vh * 0.14);
	position: relative;
}

.Number {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 5px;
	right: 5px;
}
